* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 12px;
    margin-left: 24px;
    background-clip: padding-box;
}
  
*::-webkit-scrollbar-track {
    background: #00AEEF;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 8px;
    border: 4px solid #00AEEF;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

html, body {
    height: 100%;
    overflow: hidden;
}



