.main_container {
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 80vh;
    padding: 20px; 
    margin: 20px;
    gap: 20px;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.main_scroll {
    overflow-y: unset;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 15px;
}